body{
	font-family: Arial;
}
.item{
	width: 100%;
	max-width: 1000px;
	height: 250px;
	margin: 0 auto;
	background: url("../img/main_bg.png") no-repeat center;
}

.item-rating{
	float: right;
	padding: 45px 61px;
}

.item-rating__top{
	//display: none;
	font-size: 13px;
	color:#333;
}

.item-rating__top .count{
	position: relative;
	float: left;
	font-size: 36px;
	font-weight: bold;
	color: #90b866;
	vertical-align: top;
	margin-right: 15px;
	line-height: 30px;
	cursor: pointer;
}

.item-rating__top .count:hover .wrap-hover{
	opacity: 1;
	z-index: 10;
}

.descr{
	float: right;
}

.descr span{
	display: inline-block;
	margin-bottom:5px;
}

.circle-rating{
	position: relative;
	width: 106px;
    height: 7px;
 	background: url("../img/circle.png") no-repeat center;
}

.circle-rating__orange{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top:0;
	left:-13px;
	background: url("../img/overlay.png")no-repeat center;
}



.item-rating__bottom{
	font-size: 13px;
	color: #999999;
	margin-top: 62px;
	//margin-left: 25px;
}

.item-rating__bottom .btn{
	display: block;
	background: url("../img/btn.png") no-repeat center;
	width: 186px;
	height: 48px;
	margin-bottom: 7px;
}

.item-rating__bottom p{
	margin: 0;
	margin-left: 17px;
}

.item-rating__bottom p a{
	color:#3c69ab;
	text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/*hover*/
.count-hover{
	//border: 1px solid #cfd3cb;
	max-width: 225px;
	width: 100%;
}
.top-line{
	position: relative;
	color:#79a847;
	max-width: 195px;
	width: 100%;
	font-size: 13px;
	font-weight: 300;
	padding: 5px 15px;
	background: #f4f8ef;
	border: 1px solid #d6d6d6;
	border-bottom: 1px solid transparent ;
}

.top-line__rating{
	margin-right: 25px;
}

.top-line__rating .dark{
	color: #333;
}

.top-line::after{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 10px solid #f4f8ef;
	top:-20px;
	left:50%;
	transform:translateX(-50%);
}
.main-text{
	width: 100%;
	max-width: 195px;
	font-size: 13px;
	line-height: 17px;
	font-weight: normal;
	color: #333;
	padding: 4px 15px;
	background: #fff;
	border: 1px solid #d6d6d6;
	border-top: 1px solid transparent ;
}

.wrap-hover{
	display: block;
	opacity: 0;
	z-index: -10;
	position: absolute;
	transition:all 1s ease;
	width: 225px;
	top:45px;
	left:45%;
	transform:translateX(-50%);
}

.wraper{
	margin-top: 100px;
	//border:1px solid red;
}



/*рейтинг не расчитан*/
.rating-notcalculated{
	display: none;
	width: 180px;
	position: relative;
	font-size: 13px;
	color:#888;
}
.rating-notcalculated p{
	margin: 0;
	padding-left: 45px;
	line-height: 16px;
	line-height: 22px;
}
.rating-notcalculated::before{
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	top:0;
	left: -10px;
	background: url("../img/clock.svg")no-repeat center;
}