extends /blocks/layout-default/layout-default
include /blocks/wrapper/wrapper

block head
	- var pageTitle = 'Юристы и адвокаты Правовед.RU: юридическая консультация и помощь. Страница №1';

block content
	+wrapper