.rating-block
	size(194px, 50px)
	
	padding-top 1px
	
	display flex
	
	&__num
		margin-right 9px
		padding-left 3px
		
		font-size 37px
		font-weight 700
		
		color #90b866
		
	&__scale
		font-size 13px
		
	&__text
		margin-bottom 8px
		padding-all(4px, 0, 0, 3px)
		
		color #333333
		
	&__dots-line
		margin-left 3px
		
	
