.button
	size(180px, 38px)
	
	border 1px solid #7fb04b
	
	border-radius 3px
	
	background linear-gradient(to bottom, #97c765 0, #7eaf4a 100%)
	
	color #FFF
	
	font-size 14px
	
	&:hover
		background linear-gradient(to bottom, #a6d277 0, #97c765 100%)
