/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 5, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 9, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 10, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 11, ../sass/stylesheet.scss */
a {
  cursor: pointer;
}
/* line 13, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 18, ../sass/stylesheet.scss */
body {
  font-family: Arial, sans-serif;
}

/* line 22, ../sass/stylesheet.scss */
.tooltip-style, .container #tooltip:before, .container #tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* line 30, ../sass/stylesheet.scss */
.container {
  background-color: #f6f6f6;
  padding: 20px 40px;
}
/* line 33, ../sass/stylesheet.scss */
.container #card-container {
  background-color: #ffffff;
  padding: 25px 15px;
}
/* line 34, ../sass/stylesheet.scss */
.container #card-container a {
  color: #2a599a;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 37, ../sass/stylesheet.scss */
.container #card-container a:hover {
  color: #90b866;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 44, ../sass/stylesheet.scss */
.container #card-container .left-part {
  border-right: 1px solid #eaeaea;
  padding-right: 95px;
}
/* line 47, ../sass/stylesheet.scss */
.container #card-container .left-part img {
  padding-right: 20px;
}
/* line 50, ../sass/stylesheet.scss */
.container #card-container .left-part .name {
  font-size: 20px;
}
/* line 53, ../sass/stylesheet.scss */
.container #card-container .left-part .descr {
  font-size: 12px;
  color: #888888;
  padding-top: 15px;
}
/* line 57, ../sass/stylesheet.scss */
.container #card-container .left-part .descr .small-text {
  display: inline-block;
}
/* line 60, ../sass/stylesheet.scss */
.container #card-container .left-part .descr a:last-child {
  padding-left: 10px;
}
/* line 63, ../sass/stylesheet.scss */
.container #card-container .left-part .descr p:last-child {
  padding-left: 10px;
}
/* line 67, ../sass/stylesheet.scss */
.container #card-container .left-part .about {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  padding-top: 15px;
  padding-bottom: 10px;
}
/* line 77, ../sass/stylesheet.scss */
.container #rating-container {
  padding-left: 30px;
  position: relative;
}
/* line 80, ../sass/stylesheet.scss */
.container #rating-container h1 {
  color: #90b866;
  font-size: 32px;
  font-weight: bold;
  padding-right: 10px;
}
/* line 86, ../sass/stylesheet.scss */
.container #rating-container .rating-title {
  font-size: 13px;
}
/* line 89, ../sass/stylesheet.scss */
.container #rating-container button {
  background: #94c461;
  background: -webkit-linear-gradient(#94c461, #80b14c);
  background: -o-linear-gradient(#94c461, #80b14c);
  background: -moz-linear-gradient(#94c461, #80b14c);
  background: linear-gradient(#94c461, #80b14c);
  border: 1px solid #7fb04b;
  padding: 15px 20px;
  margin-top: 60px;
  margin-left: 20px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 100, ../sass/stylesheet.scss */
.container #rating-container button:hover {
  background: -webkit-linear-gradient(#80b14c, #94c461);
  background: -o-linear-gradient(#80b14c, #94c461);
  background: -moz-linear-gradient(#80b14c, #94c461);
  background: linear-gradient(#80b14c, #94c461);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 107, ../sass/stylesheet.scss */
.container #rating-container button a {
  color: #ffffff;
}
/* line 109, ../sass/stylesheet.scss */
.container #rating-container button a:hover {
  color: #ffffff;
}
/* line 114, ../sass/stylesheet.scss */
.container #rating-container .reviews {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #888888;
}
/* line 119, ../sass/stylesheet.scss */
.container #rating-container .reviews .small-text {
  display: inline-block;
}
/* line 124, ../sass/stylesheet.scss */
.container .rating-header-2 {
  display: none;
}
/* line 126, ../sass/stylesheet.scss */
.container .rating-header-2 img {
  padding-right: 10px;
  float: left;
}
/* line 130, ../sass/stylesheet.scss */
.container .rating-header-2 p {
  font-size: 13px;
  color: #888888;
  padding-top: 5px;
}
/* line 136, ../sass/stylesheet.scss */
.container #tooltip {
  display: none;
  z-index: 999;
  position: absolute;
  right: 40%;
  top: 45px;
  width: 220px;
  height: 130px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
}
/* line 147, ../sass/stylesheet.scss */
.container #tooltip:before {
  left: 97px;
  top: -19px;
  border: 9px solid;
  border-color: transparent transparent #d6d6d6 transparent;
}
/* line 154, ../sass/stylesheet.scss */
.container #tooltip:after {
  left: 98px;
  top: -16px;
  border: 8px solid;
  border-color: transparent transparent #f4f8ef transparent;
}
/* line 161, ../sass/stylesheet.scss */
.container #tooltip .tooltip-header {
  background-color: #f4f8ef;
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
/* line 167, ../sass/stylesheet.scss */
.container #tooltip .tooltip-header .green-text {
  color: #90b866;
  padding-left: 15px;
}
/* line 171, ../sass/stylesheet.scss */
.container #tooltip .tooltip-header .green-text-bold {
  color: #90b866;
  font-weight: 900;
}
/* line 176, ../sass/stylesheet.scss */
.container #tooltip .tooltip-body {
  padding: 13px 30px 15px 15px;
  line-height: 16px;
  font-size: 13px;
}
