.button
    font-size 14px
    font-family inherit
    padding 10px 20px
    display inline-flex
    align-items center
    justify-content center
    &_green
        border 1px solid #7fb04b
        background #7fb04b
        background linear-gradient(to bottom, #96c664, #7fb04b)
        color #ffffff
        border-radius 3px
