body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #000;

    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

a {
    color: #2A59A3;
    text-decoration: none;
}

a:hover {
    color: #80ab54;
}

button {
    outline: none;
    border: 1px solid #7fb04b!important;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 20px;
    background: rgb(151,199,101);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3Yzc2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZWFmNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(151,199,101,1) 0%, rgba(126,175,74,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,199,101,1)), color-stop(100%,rgba(126,175,74,1)));
    background: -webkit-linear-gradient(top, rgba(151,199,101,1) 0%,rgba(126,175,74,1) 100%);
    background: -o-linear-gradient(top, rgba(151,199,101,1) 0%,rgba(126,175,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(151,199,101,1) 0%,rgba(126,175,74,1) 100%);
    background: linear-gradient(to bottom, rgba(151,199,101,1) 0%,rgba(126,175,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c765', endColorstr='#7eaf4a',GradientType=0 );
}


button:hover {
    background: rgb(166,210,119);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2ZDI3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5N2M3NjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(166,210,119,1) 0%, rgba(151,199,101,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(166,210,119,1)), color-stop(100%,rgba(151,199,101,1)));
    background: -webkit-linear-gradient(top, rgba(166,210,119,1) 0%,rgba(151,199,101,1) 100%);
    background: -o-linear-gradient(top, rgba(166,210,119,1) 0%,rgba(151,199,101,1) 100%);
    background: -ms-linear-gradient(top, rgba(166,210,119,1) 0%,rgba(151,199,101,1) 100%);
    background: linear-gradient(to bottom, rgba(166,210,119,1) 0%,rgba(151,199,101,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d277', endColorstr='#97c765',GradientType=0 );
}

button:active {
    padding: 11px 19px 9px 21px;
    background: #8cbc58;
}