.conteiner
	size(960px, 215px)
	
	margin-bottom 25px
	padding-all(23px, 25px, 25px)
	
	background-color #FFF
	
	display flex
	
	position relative
	
	// Avatar section
	
	&__avatar
		margin-right 25px
		padding-top 2px
	
		flex-basis 141px
		
	&__photo
		size(141px, 165px)
		
	// Description section
		
	&__desc	
		margin-right 25px
		
		border-right solid 1px #eaeaea
		
		flex-basis 491px
	
	// Name link
		
	&__name
		margin-bottom 16px
		
		font-size 24px
		
		display block
	
	// profession
			
	&__prof
		margin-bottom 16px
		
		font-size 12px
		
		color #888888
		
	&__city
		margin-right 26px
	
	// description
			
	&__text
		size(400px, 66px)
		
		margin-bottom 20px
		
		overflow hidden
		
	// experience
	
	&__exp
		font-size 12px
		
		color #888888
		
	&__spec
		margin-right 26px
		
		
	// Ratio section
		
	&__rating
		padding-left 15px
	
		flex-basis 220px
		
	&__num
		margin-bottom 49px
		
		&:hover ~ .tooltip
			display block
			
			opacity 1
		
	&__btn
		margin-all(0, 0, 16px, 7px)
	
	&__feedback
		margin-left 20px
	
		font-size 13px
		
		color #999999
		
